<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<p><%= f.label :answer_text, answer.question.question_text %></p>

<div class="row">
	<div class="form-group">
		<%= f.fields_for :answer_text do |af| %>
		  <%- answer.question.options.each do |option| %>
		  	<div class="col-sm-2">
	  			<%= af.label option do %>
			      <%= af.check_box nil, { id: nil, checked: checkbox_checked?(answer, option) }, option %>
			      <%= option %>
			    <% end %>
		  	</div>
		  <% end %>
		<% end %>
	</div>
</div>
