<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<p><%= f.label :answer_text, answer.question.question_text %></p>

<div class="row">
	<div class="form-group">
		<%= f.fields_for :answer_text do |af| %>
		  <%- answer.question.options.each_with_index do |option, index| %>
		  	<%= content_tag :div, class: ['col-sm-2', ('col-sm-offset-2' if index == 0)] do %>
	  			<%= f.label "answer_text_#{option}", option do %>
				    <%= f.radio_button :answer_text, option %>
				    <%= option %>
				  <% end %>
		  	<% end -%>
		  <% end %>
		<% end %>
	</div>
</div>
