<h3>Survey - <%= @question_group.name.capitalize %></h3>
  
<div class="panel panel-default">
  <div class="panel-body">
    <legend><%= action_name == 'new' ? 'New' : 'Edit' %> Question</legend>
    <%= form_for [@question_group, question], html: { class: 'form-horizontal', role: :form } do |f| %>
      <%= link_to 'Cancel', question_group_questions_path(@question_group), class: 'btn btn-default pull-right' %>
      <%= f.submit class: 'btn btn-primary pull-right m-right-15' %>
      
      <%- unless question.errors.empty? %>
        <ul>
          <%- question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group">
        <%= f.label :type, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type", class: 'form-control' %>
        </div>
      </div>
    
    
      <div class="form-group">  
        <%= f.label :question_text, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :question_text, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :answer_options, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_area :answer_options, rows: 5, class: 'form-control' %>
        </div>
      </div>

      <h4>Options</h4>
      <hr/>

      <div class="form-group">  
        <%= f.label :user_specific_option_text, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :user_specific_option_text, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">  
        <%= f.label :no_answer_fields, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <label class="checkbox">
            <%= f.check_box :no_answer_fields %>
          </label>
        </div>
      </div>


      <div class="form-group">  
        <%= f.label :answer_prefix, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :answer_prefix, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">  
        <%= f.label :answer_suffix, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :answer_suffix, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">  
        <%= f.label :parent_id, 'Parent Question', class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.select :parent_id, @question_group.questions.select{ |q| q.question_text.present? }.map{ |q| [format('#%s. %s', q.id, q.question_text.truncate(100)), q.id]}.sort_by{|q| q[1]}, { prompt: 'Select a parent question or leave empty', include_blank: true }, class: 'form-control' %>
        </div>
      </div>

      <h4>Validations</h4>
      <hr/>

      <div class="form-group">  
        <%= f.label :answer_presence, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <label class="checkbox">
            <%= f.check_box :answer_presence %>
          </label>
        </div>
      </div>

      <div class="form-group">  
        <%= f.label :answer_minimum_length, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :answer_minimum_length, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">  
        <%= f.label :answer_maximum_length, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :answer_maximum_length, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">  
          <%= f.label :answer_greater_than_or_equal_to, class: 'control-label col-sm-2' %>
          <div class="col-sm-6">
            <%= f.text_field :answer_greater_than_or_equal_to, class: 'form-control' %>
          </div>
      </div>
      <div class="form-group">  
        <%= f.label :answer_less_than_or_equal_to, class: 'control-label col-sm-2' %>
        <div class="col-sm-6">
          <%= f.text_field :answer_less_than_or_equal_to, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <%= f.submit class: 'btn btn-primary' %>
        </div>  
        <div class="col-sm-2">
          <%= link_to 'Cancel', question_group_questions_path(@question_group), class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

