<%= content_tag :div, class: [('panel panel-default' if question.parent.blank?)] do %>
  <%= content_tag :div, class: [('panel-body' if question.parent.blank?)] do %>
    <div class="row">
      <div class="col-md-12" id="question_<%= question.id %>">
        <div class="row">
          <div class="col-sm-10">
            <% if question.parent.present? and question.parent.is_multiinput? %>
                <%= question_counter + 1 %>. <%= question.answer_prefix %>_______<%= question.answer_suffix %>
            <% else %>
              <p><%= question_counter + 1 %>. <%= question.question_text %></p>
              <p># <%= question.id %></p>
            <% end %>
          </div>
          <div class="col-sm-2">
            <ul class="horizontal-list pull-right">
              <li><%= link_to "Edit", [:edit, question.question_group, question] %></li>
              <li><%= link_to "Delete", [question.question_group, question], method: :delete %></li>
            </ul>
          </div>
        </div>

        <!-- Sub Questions -->
        <% if question.sub_questions.present? %>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <%= render partial: "question", collection: question.sub_questions %>
            </div>
          </div>
        <% end %>
        <!-- End of Sub Questions -->
      </div>
    </div>
  <% end -%>
<% end -%>