<div id= "question_group_<%= question_group.id %>" class="well">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <%= question_group.name %>
      </h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <p>
        <%= question_group.description %>
      </p>
    </div>

    <div class="col-md-4">
      <div class="btn-group-vertical">
        <% if can_administer? %>
          <%= link_to "Results", [:results, question_group], class: 'btn btn-default' %>
          <%= link_to('Questions', question_group_questions_path(question_group), class: 'btn btn-default') %>
          <%= link_to "Edit", [:edit, question_group], class: 'btn btn-default' %>
          <%= link_to "Take Survey", new_question_group_answer_group_path(question_group), class: 'btn btn-primary' if ::Rails.env.development? %>
          <%= link_to "Delete", [question_group], method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to "Take Survey", new_question_group_answer_group_path(question_group), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
